body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif; 
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  position: absolute;
  bottom: 100px;
  right: 20px;
  z-index: 1000;
}

.legend-title {
  font-weight: bold;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #000;
}

#map-layer-control {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
}

#map-layer-control label {
  display: block;
  margin-bottom: 5px;
}
